.bg-info {
    background-color: #309975 !important;
}

.navbar-light .navbar-brand {
    color: #EFD9CE;
}

.btn-primary {
    color: #EFD9CE;
    background-color: #454d66;
    border-color: #454d66;
}

.btn-primary:hover {
    color: #454d66;
    background-color: #25283D;
    border-color: #a675A1;
}

.btn-check:checked+.btn-primary:focus,
.btn-check:active+.btn-primary:focus,
.btn-primary:active:focus,
.btn-primary.active:focus,
.show>.btn-primary.dropdown-toggle:focus {
    box-shadow: 0 0 0 0.25rem #454d66;
}

.border-primary {
    background-color: #f5f5e7;
    border-color: #454d66 !important;
}

body {
    background-color: #f5f5e7;
}

.border-light {
    background-color: #309975;
    border-color: #EFD9CE !important;
}

.nav-btn {
    color: #EFD9CE !important;
    background-color: #309975 !important;
    border-color: #309975 !important;
}

.btn:focus {
    box-shadow: 0 0 0 0.25rem #454d66;
}

.list-group-item {
    color: #EFD9CE;
    background-color: #309975;
    margin-top: 10px;
}

.list-group-item:hover {
    color: #454d66;
}